<div class="row">
    <aside class="col-3">
                <div class="row"><a href="#" class=" mb-4"  [routerLink]="['/account']"><u>Account</u></a></div>
                <div class="row"><a href="button" class="btn btn-primary" [routerLink]="['/login']">Login</a></div>
                <div class="row"><a href="button" class="btn btn-primary"  [routerLink]="['/registration']">Register</a></div>
    </aside>
    <div class="col-9">
        <div>
            <div class="row mb-4 h1">Login</div>
        </div>    

        <div class="row form-group"><label class="col-3">UserName</label>
            <div class="col-6"><input type="text" name="UserName"max="8" class="form-control"></div>
        </div>

        <div class="row form-group"><label class="col-3">Password</label>
            <div class="col-6"><input type="password" name="password"max="8" class="form-control"></div>
        </div>

        <div class="row form-group"><label class="col-3"></label>
            <div class="col-6"><input type="submit" value="login" class="btn btn-primary"></div>
        </div>
    </div>     
</div>	
