<div class="row mt-4">
  <div class="col-3">
    <div class="row"><a href="#" class=" mb-4"><u>Account</u></a></div>
    <div class="row"><a class="nav-link btn-primary" [routerLink]="['/newsfeed']">Newsfeed</a></div>
    <div class="row"><a class="nav-link btn-primary" [routerLink]="['/blocked-account']">Blocked Account</a></div>
    <div class="row"><a class="nav-link btn-primary" [routerLink]="['/updates']">Updates</a></div>
    <div class="row"><a class="nav-link btn-primary" [routerLink]="['/search']">Search</a></div>
    <div class="row"><a class="nav-link btn-primary" [routerLink]="['/logout']">Logout</a></div>
  </div>  
</div>
